<div class="container mt-5">
  <app-instruction></app-instruction>

  <!-- Game Form -->
  <form *ngIf="gameStatus === 0" id="gameForm" class="mb-4">
    <div class="row justify-content-center">
      <div class="col-3">
        <label for="numSimulations">Number of Simulations:</label>
      </div>
      <div class="col-2">
        <input 
          type="number" 
          class="form-control" 
          name="numSimulations" 
          min="1" 
          max="10"
          [(ngModel)]="numberOfGames"
        >
      </div>

      <div class="col-3">
        <button 
          type="button" 
          class="btn btn-primary btn-lg" 
          (click)="startGame()"
        >Start Game</button>
      </div>    
    </div>
  </form>

  <!-- Door Selection -->
  <div *ngIf="gameStatus === 1" class="row justify-content-center">
    <div class="row">
      <h2>Please Select a Door</h2>
    </div>
    <div class="col-xs-12 col-md-4 mb-4 d-flex justify-content-center">
      <div class="card">
        <button 
          class="btn-img" 
          (click)="selectDoor(1)"
        >
          <img *ngIf="goat01 === 0" src="https://img.freepik.com/free-photo/front-view-front-door-with-brown-wall_23-2149360602.jpg?w=360&t=st=1722431150~exp=1722431750~hmac=b6c7fb53a527a75b10e4e0268365ae8116b562f02194d352c87b7f5832e73d1b"
          alt="Door 1" class="card-img-top">
          <img *ngIf="goat01 === 1" src="https://i.pinimg.com/originals/ea/ff/89/eaff8998edc8dd51cd312e9ef42dfc08.png"
          alt="Door 1" class="card-img-top"/>
        </button>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 mb-4 d-flex justify-content-center">
      <div class="card">
        <button 
          class="btn-img"
          (click)="selectDoor(2)"
        >
          <img *ngIf="goat02 === 0" src="https://img.freepik.com/free-photo/front-view-front-door-with-brown-wall_23-2149360602.jpg?w=360&t=st=1722431150~exp=1722431750~hmac=b6c7fb53a527a75b10e4e0268365ae8116b562f02194d352c87b7f5832e73d1b"
          alt="Door 2" class="card-img-top">
          <img *ngIf="goat02 === 1" src="https://i.pinimg.com/originals/ea/ff/89/eaff8998edc8dd51cd312e9ef42dfc08.png"
          alt="Door 2" class="card-img-top"/>
        </button>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-4 mb-4 d-flex justify-content-center">
      <div class="card">
        <button 
          class="btn-img"
          (click)="selectDoor(3)"
        >
          <img *ngIf="goat03 === 0" src="https://img.freepik.com/free-photo/front-view-front-door-with-brown-wall_23-2149360602.jpg?w=360&t=st=1722431150~exp=1722431750~hmac=b6c7fb53a527a75b10e4e0268365ae8116b562f02194d352c87b7f5832e73d1b"
          alt="Door 3" class="card-img-top">
          <img *ngIf="goat03 === 1" src="https://i.pinimg.com/originals/ea/ff/89/eaff8998edc8dd51cd312e9ef42dfc08.png"
          alt="Door 3" class="card-img-top"/>
        </button>
      </div>
    </div>
  </div>

  <!-- Game Status -->
  <div *ngIf="gameStatus === 1" class="row">
    <div class="col-12">
      <h3>Game Status</h3>
      <div class="alert alert-primary" role="alert">
        <p>You have {{ numberOfGames }} more attempts left.</p>
      </div>
    </div>
  </div>

  <!-- Game Results -->
  <div *ngIf="gameStatus === 2" class="mt-5">
    <div>
      <button type="button" class="btn btn-danger" (click)="resetGame()">Reset Game</button>
    </div>
    
    <div>
      <h3>Results</h3>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">selectedDoor</th>
            <th scope="col">openedDoor</th>
            <th scope="col">prizeDoor</th>
            <th scope="col">changeDoor</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ selectedDoor }}</td>
            <td>{{ openedDoor }}</td>
            <td>{{ prizeDoor }}</td>
            <td>{{ changeDoor }}</td>
            <td>{{ status }}</td>    
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
