<div class="container justify-content-center mt-5 mb-5">
    <p class="mt-4 text-center">
        The Monty Hall problem is a probability puzzle based on the 
        American television game show <em>Let's Make a Deal</em>. 
        The game involves three doors, behind one of which is a car, 
        and behind the other two are goats. The player picks a door, 
        and then the host, who knows what is behind the doors, opens 
        one of the other two doors to reveal a goat. The player is then
        given the option to change their choice of door.
    </p>

    <h2 class="mt-5 text-center">Instructions</h2>
    
    <div class="row mt-4 custom-container">
        <div class="col-md-4 mb-4"> 
            <h3>Understand the Game</h3>
            <ul>
                <li>You have three doors: behind one is a car, behind the other two are goats.</li>
                <li>Initially, you pick one of the three doors.</li>
                <li>The host, who knows what is behind each door, opens one of the other two doors to reveal a goat.</li>
                <li>You are then given a choice to stick with your original door or switch to the remaining closed door.</li>
                <li>Reset the game at any time to start over.</li>
            </ul>
        </div>

        <div class="col-md-4 mb-4"> 
            <h3>How to Play</h3>
            <ul>
                <li><strong>Select no of Game:</strong> Select the number of games and Press Start </li>
                <li><strong>Select a Door:</strong> Click on one of the three doors to make your initial selection.</li>
                <li><strong>Host Reveals a Goat:</strong> The host will open one of the two remaining doors to show a goat.</li>
                <li><strong>Make Your Final Choice:</strong> Decide whether to stick with your original choice or switch to the other unopened door.</li>
            </ul>
        </div>

        <div class="col-md-4 mb-4"> 
            <h3>Winning Percentage</h3>
            <ul>
                <li>The game keeps track of your choices and outcomes.</li>
                <li>The winning percentage for each choice (switching or staying) is displayed for you to analyze.</li>
            </ul>
        </div>
    </div>
</div>
